-#  This file is app/views/movies/index.html.haml
%h2 All Movies

-#check again

= form_tag movies_path, :method => :get, :id => 'ratings_form' do
  = hidden_field_tag :sort, params[:sort] if params[:sort]
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", "1", @checked_ratings.include?(rating), :id => "ratings_#{rating}"
  = submit_tag 'Refresh', :id => 'ratings_submit'

-#check again, fix the order issue back on the movies_controllers 

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
    -# the link is sorted based on the css style to communicate back to the controllers in model so that the views can display the link to initiate filter action
      %th{params[:sort] == "title" ? {:class => "hilite"} : {}}= link_to "Movie Title", movies_path(:sort => "title", ratings: params[:ratings]), :id => "title_header", "data-no-turbolink" => "true"
      %th Rating
      -#the same action is repeated here, check post on piazza on what jonathan was trying to explain
      %th{params[:sort] == "release_date" ? {:class => "hilite"} : {}}= link_to "Release Date", movies_path(:sort => "release_date", ratings: params[:ratings]), :id => "release_date_header", "data-no-turbolink" => "true"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
